<%- include('../partials/head'); -%>
<style>
    .login-box {
        height: 80%;
    }
</style>
<div class="login-box">

    <img src="/icons/<%= status.ico %>.svg" alt="" style="height: 25%; width: 25%;">          
    <p class="text-muted text-center"><%= status.msg %></p>  
    <%if(status.ok) {%>  
        <p class="text-center"> <strong> <%= status.name %></strong> tu cuenta ha sido verificada</p>
    <%} else {%>  
        <p class="text-center">Es probable que este link sea invalido, por favor contacta con tu administrador.</p>
    <%}%>  
</div>
<%- include('../partials/footer'); -%>
