<%- include('../partials/head'); -%>
<%- include('../partials/navbar'); -%>

<div class="row-s center midd-content margin-top-6">               
    <h4>Facturas generadas</h4>
</div>

<div class="row-s midd-content mt-3">       
    <div class="row">        
        <div class="card vencimientos">
            <% if(invoices.length > 0) {%>

                <div class="row ">
                     <% for (var i=0; i < invoices.length; i++) { %>
                        <div class="col-12">
                            <p class="txt-form">
                                <%= invoices[i].contract_id.name %> <br>
                                <%= invoices[i].contract_id.surname %> 
                            </p>                
                            <p class="txt-form">
                                Monto: $<%= invoices[i].total %>
                            </p>                
                            <span class="txt-form pb-3"> 
                                <p class="text-center icon-txt">
                                    <% if(invoices[i].payed) { %>
                                        <span class="badge badge-pill badge-success">Pagado</span>
                                    <% } %>                            
                                </p>
                            </span>
                            <button onclick="createPreference()">pagar</button>
                        </div>
                        <% if( (i +1 ) < invoices.length ) { %>
                            <hr>   
                        <% } %>
                </div>

                <% } %>
        
            <% } else { %>
        
            <% } %>
            <button id="button-checkout"></button>
        </div>

    </div>     
                
</div>
                
<%- include('../partials/footer'); -%>