<%- include('../partials/head'); -%>
<%- include('../partials/navbar'); -%>

<div class="row-s center midd-content margin-top-6">               
    <h4>Facturas generadas</h4>
</div>

<div class="row-s midd-content m-4">       
    <div class="card p-1">
        <% if(invoices.length > 0) {%>
            <table class="table vencimientos table-sm font-s-90">
                <thead class="thead-light">
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Mes</th>
                    <th>Pagado</th>
                </thead>
                <tbody>
                    <% for (var i=0; i < invoices.length; i++) { %>
                        <tr>
                            <td>
                                <%= invoices[i].contract_id.name %> <br>
                                <%= invoices[i].contract_id.surname %> 
                            </td>
                            <td>
                                $ <%= invoices[i].total %>
                            </td>
                            <td>
                                <%= invoices[i].month %>
                            </td>
                            <td>
                                <% if(invoices[i].payed) { %>
                                    <span class="badge badge-pill badge-success">Si</span>
                                <% } %>                                                            
                            </td>
                        </tr>                    
    
                <% } %>
                </tbody>
            </table>
    
        <% } else { %>
    
        <% } %>
    </div>     
                
</div>
                
<%- include('../partials/footer'); -%>