<%- include('../partials/head'); -%>
<%- include('../partials/navbar'); -%>
    <div class="row-s center midd-content dashboard">
        <a href="/inquilinos">
            <div class="card m-2 column margin-10">
                <img src="./icons/users.png" alt="">
                <p class="text-center">Inquilinos</p>            
            </div>
        </a>
        <!-- <a href="#" data-toggle="modal" data-target="#generar-recibo">
            <div class="card m-2 column margin-10">
                <img src="./icons/invoice-2.png" alt="">
                <p class="text-center">Recibos</p>
               
            </div>
        </a> -->
        <a href="/invoice">
            <div class="card m-2 column margin-10">
                <img src="./icons/invoice.png" alt="">
                <p class="text-center">Facturas</p>
            
            </div>
        </a>
   
    </div>

    <div class="row-s m-4 center midd-content dashboard">
        <div class="row">
            <div class="col-12">
                <p class="text-center">Proximos vencimientos</p>

            </div>
            <div class="col-12 card" id="proximos-vencimientos">
                <% if(data.renters.length > 0) { %>
                    <% for(var i = 0; i < data.renters.length; i++) {%>
                        <% if(data.renters[i].invoices.length > 0) { %>
                            <% for(var j = 0; j < data.renters[i].invoices.length; j++) {%>
                                <a href="/invoice/detail/<%= data.renters[i].invoices[j]._id %>">
                                    <div class="row center">
                                        <img class="rounded-circle avatar-img col-2"  src="../icons/invoice.svg" alt="">
                                        <p class="col-3 txt-form">
                                            <%= data.renters[i].name %> <br>
                                            <span class="total">$ <%= data.renters[i].invoices[j].total %></span>
                                        </p>                
                                        <span class="col-3 txt-form pb-3 text-center"> <%= data.renters[i].pay_day + '/' + data.month %> </span>                                   
                                    
                                    </div>                                
                                </a>
                                
                            <% }%>
                        <% }%>
                        <% if(i < (data.renters.length - 1) ) { %>
                            <hr>
                        <% }%>
                    <% }%>

                <% } else { %>
                    <p class="text-form text-center">No hay proximos vencimientos</p>
                <% }  %>
            </div>

        </div>
    </div>
<%- include('../partials/footer'); -%>