<%- include('../partials/head'); %>
<style>
    #proximos-vencimientos {
        justify-content: space-evenly;
        overflow: auto;
        max-height: 20rem;
    }
    .row.center {
        width: 95%;
        margin: 0;
        justify-content: space-around;
    }

    .fui-check {
        color: rgb(21, 109, 21);
    }
   
</style>
<%- include('../partials/navbar'); -%>
<div class="row">
    <div class="offset-md-2 col-md-5 col-12">
        <div class="card">
            <h4>Facturas</h4>
            <div id="proximos-vencimientos">
                <input id="total-invoices" type="hidden" value="<%= contract.invoices.length %>">
                <% for(var i = 0; i < contract.invoices.length; i++) {%>
                    <a href="/invoice/detail/<%= contract.invoices[i]._id %>">
                        <div class="row center">                        
                                <img src="/icons/invoice.svg" alt="" style="height: 11%; width: 11%;">  
                                <span>
                                    <span id="invoice-month-<%= i %>">
                                        <%= contract.invoices[i].month %>
                                    </span>
                                    <br>
                                    <% if(contract.invoices[i].payed) { %>
                                        <p class="subtitle">Pagado <span class="fui-check"></span></p>
                                    <% } %>
                                        
                                </span>                                          
                                
                        </div>
                    </a>
                        
                            
                    
                    <% if(i < (contract.invoices.length - 1) ) { %>
                        <hr>
                    <% }%>
                <% }%>

            </div>
        </div>
    </div>
    <div class="col-md-3 col-12">
        <div class="card">
            <p class="text-muted m-0 text-center" style="font-size: 70%;">Sobre el inquilino</p>
            <p class="text-center"><%= contract.name + ' ' + contract.surname %></p>
            <img src="/icons/userDetail.svg" alt="" style="height: 50%; width: 50%; align-self: center;">
            <p  class="text-invoice-detail text-center mt-3">
                Inicio del contrato:
                <strong>
                    <span id="date-field" class="font-weight-bold">
                        <%= contract.begin %>                
                    </span>
                </strong>
                
            </p>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>
<script>
    $(function() {
        let len = $("#total-invoices").val();
        let date = new Date();

        for(let i = 0; i<len; i++) {
            let invoiceMonth = $("#invoice-month-" + i);
            date.setMonth(parseInt(invoiceMonth.html()) - 1);

            let momentMonth = moment(date).format("MMMM");
            invoiceMonth.html("Mes de " + momentMonth)
            .css('font-weight', 'bold')
            .css('text-transform', 'capitalize');
        }

        let dateField = $("#date-field");
        let momentDate = moment(dateField.html()).format("ll");
        
        dateField.html(momentDate);
        
    })()
</script>